<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">SGPA</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="parent-menu">
          <a
            data-bs-dismiss="offcanvas"
            [routerLink]="['/payments']"
            title="Listar Pagamentos"
            >Pagamentos</a
          >
          <a data-bs-toggle="collapse" href="#collapsePayments">
            <i class="bi bi-caret-down-fill"></i>
          </a>
        </div>
      </li>
      <div class="collapse submenu" id="collapsePayments">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a
              data-bs-dismiss="offcanvas"
              [routerLink]="['/payments/create']"
              title="Cadastrar Pagamento"
              >Cadastrar Pagamento</a
            >
          </li>
        </ul>
      </div>
      <li class="list-group-item">
        <div class="parent-menu">
          <a
            data-bs-dismiss="offcanvas"
            [routerLink]="['/companies']"
            title="Listar Empresas"
            >Empresas</a
          >
          <a data-bs-toggle="collapse" href="#collapseCompanies">
            <i class="bi bi-caret-down-fill"></i>
          </a>
        </div>
      </li>
      <div class="collapse submenu" id="collapseCompanies">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a
              data-bs-dismiss="offcanvas"
              [routerLink]="['/companies/create']"
              title="Cadastrar Empresa"
              >Cadastrar Empresa</a
            >
          </li>
        </ul>
      </div>
    </ul>
  </div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <div class="menu-brand">
      <span>
        <a
          href=""
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"
          ><i class="bi bi-list menu"></i
        ></a>
      </span>
      <span class="navbar-brand mb-0 h1"> SGPA </span>
    </div>
    <div class="profile-logout">
      <img
        src="https://cdn4.iconfinder.com/data/icons/business-conceptual-part1-1/513/business-woman-512.png"
        class="image-profile"
        alt="..."
      />
      <span class="pipe"></span>
      <span>
        <a (click)="logout()" title="Sair">
          <i class="bi bi-box-arrow-right"></i>
        </a>
      </span>
    </div>
  </div>
</nav>
<payment-root></payment-root>
<app-notification aria-live="polite" aria-atomic="true"></app-notification>
