html,
body {
  height: 100%;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(237, 245, 255);
}

.form-signin {
  max-width: 360px;
  padding: 45px;
  border: 1px solid rgb(211, 232, 255);
  border-radius: 5%;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
