<div class="container-fluid">
  <div class="card p-4 mt-5">
    <div class="d-grid gap-2 d-md-flex justify-content-md-between">
      <h3>Empresas</h3>
      <a routerLink="create" type="button" class="btn btn-success"
        >Cadastrar Empresa</a
      >
    </div>
    <div class="table-responsive">
      <table class="mt-3 table">
        <thead>
          <tr>
            <!-- <th>id</th> -->
            <th>documento</th>
            <th>desc. resumida</th>
            <!-- <th>descricão</th> -->
            <th>representante</th>
            <th>contato</th>
            <th>categoria</th>
            <th>cadastro</th>
            <!-- <th class="title-acoes">ações</th> -->
          </tr>
        </thead>
        <tbody *ngIf="companies.length; else naoExistemPagamentos">
          <tr *ngFor="let company of companies">
            <!-- <td>{{ company.id }}</td> -->
            <td>{{ company.documento }}</td>
            <td>{{ company.descricao_resumida | uppercase }}</td>
            <!-- <td>{{ company.descricao | uppercase }}</td> -->
            <td>{{ company.representante | uppercase }}</td>
            <td>{{ company.contato }}</td>
            <td>{{ company.categoria }}</td>
            <td>
              {{ company.data_cadastro | date : "dd/MM/yyyy HH:mm:ss" }}
            </td>
            <!-- <td>
              <div class="acoes">
                <a
                  [routerLink]="['/show']"
                  [queryParams]="{ id: payment.id }"
                  title="Detalhar pagamento"
                >
                  <i class="bi bi-eye"></i>
                </a>
                <a
                  [routerLink]="['/edit']"
                  [queryParams]="{ id: payment.id }"
                  [class.disabled]="payment.status !== 0"
                  title="Editar pagamento"
                >
                  <i class="bi bi-pencil"></i>
                </a>
                <a
                  (click)="deletePayment(payment)"
                  [class.disabled]="payment.status !== 0"
                  title="Excluir pagamento"
                >
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #naoExistemPagamentos
  ><tbody>
    <tr class="text-center">
      <td colspan="10">Não existem empresas cadastradas.</td>
    </tr>
  </tbody></ng-template
>
